<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    colors="true"
    testdox="true"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.1/phpunit.xsd"
    cacheDirectory=".phpunit.cache"
    requireCoverageMetadata="true"
    bootstrap="tests/bootstrap.php"
>
  <testsuites>
    <testsuite name="Unit">
      <directory>./tests/Unit</directory>
    </testsuite>
  </testsuites>

  <source>
    <include>
      <directory>./src</directory>
    </include>
  </source>

  <php>
    <env name="APP_ENV" value="testing"/>
    <env name="APP_KEY" value="base64:Rxc/brtlM+Yj6lB5MFou+0nYKDsfXaki1OWfp50JJtI="/>
    <env name="BCRYPT_ROUNDS" value="4"/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="DB_CONNECTION" value="testing"/>
    <env name="MAIL_MAILER" value="array"/>
    <env name="QUEUE_CONNECTION" value="sync"/>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="TELESCOPE_ENABLED" value="false"/>
  </php>
</phpunit>
